*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
     width: 100vw;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2{
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.7);
    padding: 70px 30px;
    border-radius: 10px;
}
h1{
    /* border: 5px solid red; */
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color:rgb(238, 121, 121);
    
}
form a{
    /* border: 5px solid red; */
    height: 10%;
    width: 12%;
    background-color: rgb(53, 51, 51);
    border: none;
    border-radius: 8px;
    margin: 6px;
    margin-left:80%;
    color: rgb(238, 121, 121);
    font-size: large;
    cursor: pointer;
    
}
a #btn2{
    /* border: 5px solid red; */
    height: 100%;
    width: 100%;
    background-color: rgb(53, 51, 51);
    border: none;
    border-radius: 8px;
    /* margin: 6px; */
    /* margin-left:80%; */
    color: rgb(238, 121, 121);
    font-size: large;
    cursor: pointer; 
}
#title{
    /* border: 5px solid red; */
    height: 8%;
    width: 90%;
    border: 2px solid darkgray;
    border-radius: 8px;
    color: white;
    background-color: rgba(0,0,0,0);
    resize: none
}
#subject{
    background-color: rgba(0,0,0,0);
    border-color:rgba(0,0,0,10) ;
    border-color: grey;
    border-radius: 8px;
    color: white;
    width: 90%;
    height: 50%;
    /* border: 5px solid red; */
}

#form2{
/* border: 10px solid green; */
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#avatar{
    margin-left: 0px;
    margin: 10px;
    width: 90%;
    height: fit-content;
    border: 2px solid darkgray;
    border-radius: 8px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
    /* border: 5px solid red; */
}
.video3{
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    bottom: 0;
    width: 100vw;
    object-fit: cover;
    
    /* border: 2px solid blue; */
}
@media (min-aspect-ration:16/9){
    .video2{
        width: 100%;
    
        height: auto;
    }
}
@media (max-aspect-ration:16/9){
    .video2{
        width: auto;
        height: 100%;
    }
}