*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    /* border: 2px solid red; */
    
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.main3{
    /* border: 2px solid red; */
    width: 100%; 
    height: 100%;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    /* padding: 0 5%; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav{
    /* position: absolute; */
    top: 0;
    left: 0;
    padding: 20px 8%;
    /* border: 2px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .logo{
    /* border: 2px solid red; */
    width: 60px;
}
.nav ul li{
    /* border: 2px solid red; */
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size:17px ;
}
.Container2 {
    width: 100%;
    height: 90%;
    /* border: 10px solid black; */
    overflow: auto;
    overflow: hidden;
}

.Container2_heading {
    
    /* border: 5px solid red; */
    padding: 0 .5rem;
    height: 13%;
    width: 100%;
    color: white;
    text-align: center;
    
}
.Container2MainContent {
    width: 100%;
    height: 87%;
    /* border: 10px solid green; */
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    
}
.BoxContainer{
    border: 2px solid grey;
    height: 70%;
    width: 45%;
    margin: 5px;
    border-radius: 20px;
}
.photo{
    /* border: 5px solid green; */
    height: 50%;
    width: 100%;
}
.photo img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.descriptionContainer {
    display: flex;
    /* border: 5px solid red; */
    height: 50%;
}
.descriptionContainerLeft{
    width: 30%;
    height: 100%;
    border-radius: 0px 0px 0px 15px;
    background: rgba(0,0,0,0.7);
    /* border: 5px solid yellow; */
    
}
.Authorpic{
    width: 100%;
    height:80%;
    /* border: 5px solid red; */
}

.Read{
    width: 100%;
    height:20%;
    /* border: 5px solid rgb(0, 242, 255); */
}
.Authorpic img{
    width: 90%;
    height: 70%;
    border-radius: 50%;
    margin-left: .5rem;
    /* border: 5px solid black; */
}
.Read button{
    cursor: pointer;
    width: 100%;
    height:100%;
    border-radius: 0px 10px 0px 15px;
    font-size: larger;
    border: none;
    color: #fff;
    background-color: rgb(49, 15, 5);
}
#btn2 a{
    text-decoration: none;
    color: white;
}
.descriptionContainerRight{
    /* border: 5px solid rgb(255, 0, 132); */
    width: 100%;
    height: 100%;
    color: rgb(243, 230, 230);
    background: rgba(0,0,0,0.7);
    /* margin-left: 1rem; */
    border-radius: 0px 20px 20px 0px;
}
.video2{
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    bottom: 0;
    width: 100vw;
    object-fit: cover;
}
@media (min-aspect-ration:16/9){
    .video2{
        width: 100%;
    
        height: auto;
    }
}
@media (max-aspect-ration:16/9){
    .video2{
        width: auto;
        height: 100%;
    }
}
