*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: url(images/star.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 90%;
    height: 90%;
    background: rgba(27, 37, 37, 0.7);
    color: white;
    /* position: absolute; */
    box-sizing: border-box;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    

}
.Leftcontainer{
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Rightcontainer{
    /* border: 2px solid rgb(1, 0, 0); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Rightcontainer h1{
    margin-bottom: 60px;
    color: rgb(102, 102, 151);
    
}
#RightcontainerTOP{
    /* border: 2px solid rgb(157, 13, 13); */
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#RightcontainerTOP input{
    border-radius: 18px;
    height: 60px;
    width: 90%;
    margin: 10px;
    color: white;
    background-color: rgba(33, 51, 51, 0.7)#fff;
    background:rgba(33, 51, 51, 0.7) ;
    font-size:large ;
}
#btn{
    height: 60px;
    width: 200px;
    background-color: rgb(39, 74, 94);
    border: none;
    border-radius: 8px;
    margin: 20px 0px 0px 6px;
    color: rgb(238, 121, 121);
    font-size: large;
    cursor: pointer;
    font-size: 35px;
}
.RightcontainerDOWN{
    /* border: 2px solid rgb(1, 0, 0); */
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items:end; 
}
.RightcontainerDOWN a{
    color: rgb(238, 121, 121);
}
a{
text-decoration: none;
color: rgb(160, 102, 102);
}

.video1{
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    bottom: 0;
    width: 100vw;
    object-fit: cover;
    
    /* border: 2px solid blue; */
}
@media (min-aspect-ration:16/9){
    .video2{
        width: 100%;
    
        height: auto;
    }
}
@media (max-aspect-ration:16/9){
    .video2{
        width: auto;
        height: 100%;
    }
}